@import "../node_modules/bootstrap/scss/bootstrap";

.test {
  @extend .border;
  @extend .border-dark
}

.search-grid-image {
  width: 30%;
  height: 30%;
}

.font-xl {
  font-size: 100px;
}

.img-scale-md {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.img-scale-sm {
  object-fit: cover;
  width: 75px;
  height: 75px;
}

.circular-img {
  @extend .img-thumbnail;
  @extend .rounded-circle;
}

.initials-circle {
  display:inline-block;
  font-size:100px;
  width:200px;
  height:200px;
  line-height:2em;
  text-align:center;
  border-radius:50%;
  background: darkslategray;
  vertical-align:middle;
  margin-right:1em;
  color: azure;
}

.full-width {
  width: 100%;
}

.bg-light-blue {
  background: rgb(70,130, 180);
}

.text-darkgray {
  color: #636362;
}

.koble-blue {
  color: midnightblue;
}

/*Profile Card 3*/
.profile-card-3 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height:368px;
  border:none;
}
.profile-card-3 .background-block {
  float: left;
  width: 100%;
  height: 200px;
  overflow: hidden;
  opacity: 1;
}
.profile-card-3 .background-block .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
  -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-3 .card-content {
  width: 100%;
  padding: 30px 25px 2px 25px;
  color:#232323;
  float:left;
  background:#f7f7f7;
  height:50%;
  border-radius:0 0 5px 5px;
  position: relative;
  z-index: 9999;
}
.profile-card-3 .card-content::before {
  content: '';
  background: #f7f7f7;
  width: 120%;
  height: 100%;
  left: 11px;
  bottom: 51px;
  position: absolute;
  z-index: -1;
  transform: rotate(-13deg);
}
.profile-card-3 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 30%;
  max-width: 175px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  transform: translate(-50%, 0%);
  z-index:99999;
}
.profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-3 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-3 i {
  display: inline-block;
  font-size: 16px;
  color: #232323;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin:0 5px;
}
.profile-card-3 .icon-block{
  float:left;
  width:100%;
  margin-top:15px;
}
.profile-card-3 .icon-block a{
  text-decoration:none;
}
//.profile-card-3 i:hover {
//  background-color:#232323;
//  color:#fff;
//  text-decoration:none;
//}

.background-transparent {
  width:100%;
  vertical-align: top;
  opacity: 0.75;
  -webkit-filter: blur(0.5px);
  filter: blur(1.75px);
  transform: scale(2.8);
}

.background-card-img {
  width:100%;
  vertical-align: top;
  //opacity: 0.75;
  //-webkit-filter: blur(0.5px);
  //filter: blur(1.75px);
  transform: scale(1);
}

.avatar {
  width: 120px;
  height: 120px;
  margin-top: 5px;
  overflow: hidden;
  border: 1px solid #cccccc;
  border-radius: 50%;
  object-fit: cover;
}

.component-popout {
  background: #ececec;
}

.img-square-card-lg {
  object-fit: cover;
  width: 600px;
  height: 600px;
}

.add-contact-box {
  width: 500px;
  height: 650px;
  outline: #535bf2 3px;
  background: #213547;
}

.test-card {
  width: 28rem;
}

.bg-koble-blue {
  background: midnightblue;
}

hr.dotted {
  border-top: 3px dashed #bbb;
}

hr.rounded {
  border-top: 4px solid #bbb;
  border-radius: 2px;
}
